---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("communiques")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout
  title="Communiques Archive"
  description="Browse all communiques posts"
>
  <div class="blog-archive">
    <h1>COMMUNIQUES</h1>

    {
      posts.length === 0 ? (
        <p class="no-posts">Void</p>
      ) : (
        <div class="posts-list">
          {posts.map((post) => (
            <article class="post-preview">
              <h2>
                <a href={`/communiques/${post.slug}`}>{post.data.title}</a>
              </h2>
              <div class="post-meta">
                <time datetime={post.data.pubDate.toISOString()}>
                  {post.data.pubDate.toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}
                </time>
              </div>
              <p class="description">{post.data.description}</p>
            </article>
          ))}
        </div>
      )
    }
  </div>
</BaseLayout>
