---
interface Props {
  title: string;
  description?: string;
}

const { title, description = 'GNNL TV Website' } = Astro.props;
import '../styles/global.styl';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/blog-type-1">Blog Type 1</a>
        <a href="/blog-type-2">Blog Type 2</a>
        <a href="/about">About</a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>&copy; 2024 GNNL TV. All rights reserved.</p>
    </footer>
  </body>
</html>
