---
interface Props {
  title: string;
  description?: string;
  hideNavigation?: boolean;
}

const {
  title,
  description = "GNNL TV Website",
  hideNavigation = false,
} = Astro.props;
import "../styles/global.styl";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    {
      !hideNavigation && (
        <header>
          <nav>
            <a href="/">GNNL TV</a>
            <a href="/manifesto">Manifesto</a>
            <a href="/communiques">Communiques</a>
            <a href="/san">San</a>
            <a href="/chat">Chat</a>
          </nav>
        </header>
      )
    }
    <main>
      <slot />
    </main>
    </body>
</html>
